body {
    margin: 0;
    padding: 0;
    background-image:url("./medical.jpg");
    background-size:cover;
    background-color: #c5c9cc;
  }
  
.styling {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px 60px;
  }
  
.styling select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
#list *{
    border-radius: 30px;
}
.header{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: darkblue; */
    /* text-shadow: darkgoldenrod; */
    color: rgb(0, 17, 255);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(70, 44, 44), 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.styling::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(182, 11, 11, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
.styling:hover::before {
    color: rgba(59, 16, 214, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
.styling select option {
    padding: 50px;
    border-radius: 30px 60px;
  }
/* 
.mainb{
    color: black;
    text-align: center;
    margin-top: 30%; ;
    /* margin-bottom: 50%; */
    /* margin-left: 43%;
    margin-right: 40%;
    /* margin: 30%; */
    /* border-radius: 30%;
    width: 10%;
    height: 10%;
    left: 50%;
    top: 50%;
    size: 30%;
    font-size: 150%;
    align-items: center;
    align-content: center;
} */ */ */


/* .buts {
	display: flex;
	flex-direction: column;
	transform: rotatex(10deg);
	animation: rotateAngle 6s linear infinite;
}

:root {
	--background-color: #ffe5e5;
	--color: #000000;
	--feedback-bg-color: #ffffff;
	--feedback-secondary-color: #ffacac;
	--feedback-primary-color: #53488d;
	--feedback-icon-color: #ffffff;
	--feedback-form-input: #f4f4f4;
}

 */
.center-content {
    display: grid;
    place-content: center;
  }
  
.buts {
    @extend .center-content;
      height: 100vh;
  }
  
.mainb {
    @extend .center-content;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 35%;
    margin-bottom: 50%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    
    background-color: #15c240;
    color: var(--feedback-primary-color);
    
    transition: all 0.3s;
}
.mainb:hover{
        border-radius: 0px;
      
        color: var(--feedback-primary-color);
        background-color: var(--background-color);
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        animation: animatedBackground 5s linear infinite alternate;
    }

  
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
